{% extends 'header.html' %}
{% block title %}{{ category_name }}{% endblock %}
<!-- Page Header-->
{% block content %}
           <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{ category_name }}</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in products %}
                    <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Áp phích Mờ Tiêu chuẩn" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                           <a href="{{ url_for('product', index=item.id) }}"><h5 class="fw-bolder">{{ item.title }}</h5></a>
                            <!-- Product price-->
                            <span class="text-muted">Giá:</span> {{ item.price }}
                            <!-- Size dropdown -->
<!--                            <select class="form-select mt-3" aria-label="Default select example">-->
<!--                                <option selected>Chọn kích thước</option>-->
<!--                                <option value="1">18" x 24"</option>-->
<!--                                <option value="2">24" x 36"</option>-->
<!--                                <option value="3">16" x 20"</option>-->
<!--                                &lt;!&ndash; Add other sizes as needed &ndash;&gt;-->
<!--                            </select>-->
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('add_to_cart', product_id=item.id, next='categories', category=item.category) }}">Xem tùy chọn</a></div>
                    </div>
                </div>
            </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Footer-->
       {% include 'footer.html' %}
{% endblock %}

